.bg-contact-form {
    position: relative;
    background-image: url(../img/restaurant-charleroi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form-group-bg-height{
    height: 100vh;
}